html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui")
  title Slider Kit Example
  link(rel="stylesheet" href="css/slider-kit.css")
  script(src="js/slider-kit.js")
body
  #app
    #test.slider-kit
      .slider-wrapper
        .slider-items
          a.slider-item(href="http://google.com")
            img(src="http://placehold.it/1000x400/f0f0f0/?text=1" draggable="false")
          a.slider-item(href="http://google.com")
            img(src="http://placehold.it/1000x400/555555/?text=2" draggable="false")
          a.slider-item(href="http://google.com")
            img(src="http://placehold.it/1000x400/f0f0f0/?text=3" draggable="false")
          a.slider-item(href="http://google.com")
            img(src="http://placehold.it/1000x400/555555/?text=4" draggable="false")
        button.slider-button-left
        button.slider-button-right
        .slider-paginations

    br
    .slider-kit
      .slider-wrapper
        .slider-items
          .slider-item
            img(src="http://placehold.it/1000x400/f0f0f0/?text=1" draggable="false")
          .slider-item
            img(src="http://placehold.it/1000x400/555555/?text=2" draggable="false")
          .slider-item
            img(src="http://placehold.it/1000x400/f0f0f0/?text=3" draggable="false")
          .slider-item
            img(src="http://placehold.it/1000x400/555555/?text=4" draggable="false")
        .slider-paginations

    br
    .slider-kit
      .slider-wrapper
        .slider-items
          .slider-item
            img(src="http://placehold.it/1000x400/f0f0f0/?text=1" draggable="false")
          .slider-item
            img(src="http://placehold.it/1000x400/555555/?text=2" draggable="false")
          .slider-item
            img(src="http://placehold.it/1000x400/f0f0f0/?text=3" draggable="false")
          .slider-item
            img(src="http://placehold.it/1000x400/555555/?text=4" draggable="false")

  script(src="js/index.js")
